html[data-theme=themeName] {
    --app-welcome-background: #000000;
    --app-main-tabs-background: #000000;
    --bulma-text: #000000;
    --bulma-primary: #000000;
    --bulma-warning: #000000;
    --bulma-danger: #000000;
    --bulma-success: #000000;
    --bulma-link: #000000;
    --bulma-info: #000000;
    --app-white-btn-background: #000000;
    --app-white-btn-color: #000000;
}