body {
    background: #333333;
}

/* Clearfix for the menu */
.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ui-menu:not(.sublist) .ui-menu-item:not(.subitem) {
    display: inline-block;
    float: top;
    margin: 0;
    padding: 0;
    width: auto;
}