body {
    background: #333333;
    padding: 0;
    margin: 0 !important;
}

/* Clearfix for the menu */
.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ui-menu:not(.sublist) .ui-menu-item:not(.subitem) {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.ui-menu:not(.sublist) {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    width: auto;
}
.ui-menu-item {
    display: relative;
}
#logo_box {
    color: #00000000;
    display: inline-block !important;
    position: relative !important;
}
#logo {
    width: 57px;
    height: 20px;
}
input {
    padding: 10px;
}
#tabs {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
#loaderDlg .ui-dialog-titlebar-close {
    display: none !important;
}
#loaderProgress .ui-progressbar-value {
    background-color: #008cff;
}
#welcome {
    height: 100%;
    background: #222222;
    color: white;
    font-family: Verdana, sans-serif;
    padding: 10px;
}
.elementFrame {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80%;
    outline: 0;
    border: 0;
}

.noMargin {
    padding: 0 !important;
}

.elementbox {
    padding: 10px;
    background: #333333;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    display: inline-block;
    margin: 10px;
}
.componentbox {
    padding: 10px;
    background: #333333;
    border-radius: 10px;
    text-align: center;
    width: 28%;
    height: 250px;
    display: inline-block;
    margin: 10px;
}