html[data-theme=minecraft] {
    --app-welcome-background: var(--bulma-background);
    --app-main-tabs-background: var(--bulma-background);

    --bulma-text: hsl(221deg, 14%, 71%);
    --bulma-background: hsl(221deg, 14%, 14%);
    --bulma-scheme-main: hsl(221deg, 14%, 9%);

    /* PRIMARY */
    --bulma-primary-h: 129deg;
    --bulma-primary-s: 100%;
    --bulma-primary-l: 40%;

    /* LINK */
    --bulma-link-h: 129deg;
    --bulma-link-s: 100%;
    --bulma-link-l: 40%;

    /* INFO */
    --bulma-info-h: 198deg;
    --bulma-info-s: 100%;
    --bulma-info-l: 70%;

    /* SUCCESS */
    --bulma-success-h: 153deg;
    --bulma-success-s: 100%;
    --bulma-success-l: 53%;

    /* WARNING */
    --bulma-warning-h: 42deg;
    --bulma-warning-s: 100%;
    --bulma-warning-l: 53%;

    /* DANGER */
    --bulma-danger-h: 360deg;
    --bulma-danger-s: 87%;
    --bulma-danger-l: 61%;

    --app-white-btn-background: var(--bulma-background);
    --app-white-btn-color: var(--bulma-white-l);

    --app-tab-bar-background: #3b3b43;
    --app-tab-bar-background1: #42424b;
    --app-tab-bar-background2: #52525e;
    --app-tab-bar-background3: #626271;
    --app-selected-tab-color: var(--bulma-link);
    --app-selected-tab-border: var(--bulma-link);
    --app-deselected-tab-color: var(--bulma-text);
    --app-deselected-tab-border: #545454;
    --app-selected-tab-background1: #3b3b43;
    --app-selected-tab-background2: #42424b;

    --app-image-editor-toolbar-background: var(--bulma-background);
    --app-image-editor-background: var(--bulma-scheme-main);
    --app-blockly-background: var(--bulma-scheme-main);
    --app-blockly-toolbox-background: var(--bulma-background);
    --app-blockly-toolbox-flyout-background: #3b3b4350;

    --app-black-white: var(--bulma-scheme-main);
    --app-disabled-input-border: #626271;

    --app-menubar-background: url(https://ejd799.github.io/moddery/themes/minecraft_panorama.png);
    --app-menubar-color: var(--bulma-text);

    --bulma-duration: 0;
    --bulma-control-radius: 0;
    --bulma-card-radius: 0;
    --bulma-input-radius: 0 !important;
    --bulma-radius: 0 !important;
}

html[data-theme=minecraft] .menubar {
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
}

html[data-theme=minecraft] .button {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/dirt.png);
    background-size: contain;
    image-rendering: pixelated;
    color: white;
}
html[data-theme=minecraft] .button:hover {
    background: url(https://ejd799.github.io/moddery/themes/grass_side.png);
    background-size: contain;
    image-rendering: pixelated;
}
html[data-theme=minecraft] .button:active {
    background: url(https://ejd799.github.io/moddery/themes/grass_top.png);
    background-size: contain;
    image-rendering: pixelated;
}

html[data-theme=minecraft] .button.is-primary {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/stone.png);
    background-size: contain;
    image-rendering: pixelated;
}
html[data-theme=minecraft] .button.is-primary:hover {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/diamond_ore.png);
    background-size: contain;
    image-rendering: pixelated;
}
html[data-theme=minecraft] .button.is-primary:active {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/diamond_block.png);
    background-size: contain;
    image-rendering: pixelated;
}

html[data-theme=minecraft] .button.is-danger {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/stone.png);
    background-size: contain;
    image-rendering: pixelated;
}
html[data-theme=minecraft] .button.is-danger:hover {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/redstone_ore.png);
    background-size: contain;
    image-rendering: pixelated;
}
html[data-theme=minecraft] .button.is-danger:active {
    background: url(https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/1.21.10/assets/minecraft/textures/block/redstone_block.png);
    background-size: contain;
    image-rendering: pixelated;
}

html[data-theme=minecraft] .card {
    border-radius: 0 !important;
}