html[data-theme=rainbow] {
    --app-welcome-background: var(--bulma-background);
    --app-main-tabs-background: var(--bulma-background);

    --bulma-text: hsl(221deg, 14%, 71%);
    --bulma-background: hsl(221deg, 14%, 14%);
    --bulma-scheme-main: hsl(221deg, 14%, 9%);

    /* PRIMARY */
    --bulma-primary-h: 266deg;
    --bulma-primary-s: 100%;
    --bulma-primary-l: 73%;

    /* LINK */
    --bulma-link-h: 313deg;
    --bulma-link-s: 100%;
    --bulma-link-l: 68%;

    /* INFO */
    --bulma-info-h: 198deg;
    --bulma-info-s: 100%;
    --bulma-info-l: 70%;

    /* SUCCESS */
    --bulma-success-h: 153deg;
    --bulma-success-s: 100%;
    --bulma-success-l: 53%;

    /* WARNING */
    --bulma-warning-h: 42deg;
    --bulma-warning-s: 100%;
    --bulma-warning-l: 53%;

    /* DANGER */
    --bulma-danger-h: 348deg;
    --bulma-danger-s: 100%;
    --bulma-danger-l: 70%;

    --app-white-btn-background: var(--bulma-background);
    --app-white-btn-color: var(--bulma-white-l);

    --app-tab-bar-background: #3b3b43;
    --app-tab-bar-background1: #42424b;
    --app-tab-bar-background2: #52525e;
    --app-tab-bar-background3: #626271;
    --app-selected-tab-color: var(--bulma-link);
    --app-selected-tab-border: var(--bulma-link);
    --app-deselected-tab-color: var(--bulma-text);
    --app-deselected-tab-border: #545454;
    --app-selected-tab-background1: #3b3b43;
    --app-selected-tab-background2: #42424b;

    --app-image-editor-toolbar-background: var(--bulma-background);
    --app-image-editor-background: var(--bulma-scheme-main);
    --app-blockly-background: var(--bulma-scheme-main);
    --app-blockly-toolbox-background: var(--bulma-background);
    --app-blockly-toolbox-flyout-background: #3b3b4350;

    --app-black-white: var(--bulma-scheme-main);
    --app-disabled-input-border: #626271;

    --app-menubar-background: var(--bulma-scheme-main);
    --app-menubar-color: var(--bulma-text);

    --rainbow1: linear-gradient(
        90deg,
        rgba(255, 105, 187, 1) 0%,
        rgba(255, 107, 107, 1) 14%,
        rgba(255, 186, 102, 1) 28%,
        rgba(240, 230, 89, 1) 43%,
        rgba(147, 255, 84, 1) 56%,
        rgba(83, 237, 206, 1) 70%,
        rgba(79, 120, 255, 1) 84%,
        rgba(170, 83, 237, 1) 100%
    );
    --rainbow2: linear-gradient(
        90deg,
        rgba(104, 147, 255, 1) 0%,
        rgba(156, 108, 252, 1) 33%,
        rgba(194, 108, 252, 1) 67%,
        rgba(250, 108, 252, 1) 100%
    );
    --rainbow3: linear-gradient(
        90deg,
        rgb(255, 104, 182) 0%,
        rgb(252, 108, 108) 70%
    );
}

html[data-theme=rainbow] .button.is-primary {
  position: relative;
  overflow: hidden;

  /* KEEP the background on the button */
  background: var(--rainbow1);

  transition: filter var(--bulma-duration) var(--bulma-easing);
}

html[data-theme=rainbow] .button.is-link {
  position: relative;
  overflow: hidden;

  /* KEEP the background on the button */
  background: var(--rainbow2);

  transition: filter var(--bulma-duration) var(--bulma-easing);
}

html[data-theme=rainbow] .button.is-danger {
  position: relative;
  overflow: hidden;

  /* KEEP the background on the button */
  background: var(--rainbow3);

  transition: filter var(--bulma-duration) var(--bulma-easing);
}

/* Hover */
html[data-theme=rainbow] .button.is-primary:hover, html[data-theme=rainbow] .button.is-link:hover, html[data-theme=rainbow] .button.is-danger:hover {
  filter: brightness(1.25) saturate(1.15);
}

/* Active */
html[data-theme=rainbow] .button.is-primary:active, html[data-theme=rainbow] .button.is-link:active, html[data-theme=rainbow] .button.is-danger:active {
  filter: brightness(1.45) saturate(1.2);
}